<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JJMusic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CCFFF1A51C5B1668008A5A06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCFFF1BE1C5B1668008A5A06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCFFF1C91C5B1668008A5A06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
